body {
  font-family: 'Roboto Slab', sans-serif;
  color: #212427;
  background-color: #F8FFFE;
  /* background-color: #5E1B89; */
   /* fallback color */
  /* background-image: linear-gradient(to bottom right, #F4512C, #5E1B89); */
}

.task-container {
  max-height: 400px; /* Set a maximum height for the task container */
  overflow-y: auto; /* Enable vertical scrolling */
}

/* Add this CSS to your stylesheet or CSS file */
.btn-custom-gradient {
  background-image: linear-gradient(to bottom right, #F4512C, #5E1B89);
  color: white;
  border-color: transparent;
}

.btn-custom-gradient:hover {
  background-image: linear-gradient(to bottom right, #F4512C, #5E1B89);
  opacity: 0.8;
  color: #F8FFFE;
}

.action-btn {
  cursor: pointer;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.container-background {
  background: linear-gradient(to bottom, #5E1B89, #9D71BC);
  width: 100%;
  max-width: 800px;
  padding: 1rem;
}

/* Style for the input/edit field */
.input-editTask {
  border: none;
  border-bottom: 1px solid lightgrey;
  outline: none;
  background: none;
  color: #212427;
}
.saveButton, .DeleteYes {
  background-color: #F4512C;
  border: none;
  color: #F8FFFE;
  padding: 0.5rem 1rem;
}

.saveButton:hover, .DeleteYes:hover {
  background-color: rgba(244, 81, 44, 0.8); /* Reduce opacity on hover */
  color: #F8FFFE; /* Font color */
}
.cancelButton, .DeleteNo {
  background-color: #5E1B89;
  border: none;
  color: #F8FFFE;
  padding: 0.5rem 1rem;
}

.cancelButton:hover, .DeleteNo:hover {
  background-color: rgba(94, 27, 137, 0.8); /* Reduce opacity on hover */
  color: #F8FFFE; /* Font color */
}
/* Enlarge the ViewModal*/
.modal-dialog {
  max-width: 600px;
}

.textarea-container {
  height: 200px; /* Set a specific height for the text area */
  overflow-y: auto; /* Enable vertical scrolling if content exceeds the height */
}

.textarea-container textarea {
  height: 100%; /* Make the text area fill the container height */
  resize: vertical; /* Allow vertical resizing of the text area */
}


